# Basic data types

There are various built in data types in python.

int are positive natural numbers, the negations of natural numbers, and zero.

In [ ]:
type(5)

In contrast to many other programming languages (and the older Python 2), there is no size limit for integers, aside from available memory.

In [ ]:
13**400

float are Pythons data type for numbers that are not integers and have a decimal point.

In [ ]:
type(10/3)

Floats can be written also in exponent format as powers of 10, e.g. $2 \times 10^{3} = 2000$

In [ ]:
2e3

However, in comparison to int, floats do have a size limit, and therefore also a limit in precision.

In [ ]:
print(13e400)
print(13e-400)

In [ ]:
type(True)

In [ ]:
type('Hello World')

In [ ]:
type("Hello World")

In [ ]:
type('''
Hello

world
''')

The datatype determines what it can represent and what operations can be performed. The operations can output a different type than what has been put in.

In [ ]:
type(5 + 10/3)

In [ ]:
5 + 'Hello'

In [ ]:
'Hello' + 'World'

However, using operators that arent intended for the data type sometimes do work, but provide weird results.

In [ ]:
'Hello' and 'World'

There is also a data type that represents 'Nothingness', the None type.

In [ ]:
type(None)

In [ ]:
5 + None

**Exercise** *: Try to guess what types the following are (and then check if you were right:

In [ ]:
# 4 / 2

In [ ]:
# 2 * 1

In [ ]:
# 2 * 1.

In [ ]:
# 3 + 2j

In [ ]:
# "Hello World"

In [ ]:
# """Hello World"""

In [ ]:
# 'Hello World'

In [ ]:
# 0x2

In [ ]:
# 0xf

# Data Structures

## Lists
Lists are a sequence of arbitrary items. Items within the list can be accessed via their position, therefore the order of items in the list is important.

In [ ]:
[1, 2, 3, 4, 5]

In [ ]:
type([1, 2, 3, 4, 5])

Items can be accessed via their index, starting with the first element at position 0

In [ ]:
a = [11, 12, 13, 14, 15]
print(a[0])

In [ ]:
a = [11, 12, 13, 14, 15]
print(a[37])

In [ ]:
a = [11, 12, 13, 14, 15]
a[0] = 22
print(a)

Negative indices provide access to the items counting from the end of the list

In [ ]:
a = [11, 12, 13, 14, 15]
print(a[-1])
print(a[-2])

Lists can be sliced using the colon operator ':', given a start and end index

In [ ]:
a = [11, 12, 13, 14, 15]
print(a[1:4])

The slice indices are optional, omitting e.g. the first one will return everyting from the start up to the end index

In [ ]:
a = [11, 12, 13, 14, 15]
print(a[:4])

Lists can contain a mixture of types as items.

In [ ]:
a = [1, 2, None, '3', 4.33, 'Hello', [4, 5, 6]]
print(a)

List objects have a number of methods that you can use.

In [ ]:
a = [1, 2, 2, 3, 4, 1]
b = a.count(4)
print(b)

In [ ]:
a = [1, 2, 2, 3, 4, 1]
a.append(27)
print(a)

And some of the basic operations work on lists.

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

**Exercise** *: Given the array 'a = [1, 2, 2, 3, 4, 1]', guess what the following will return and then try out if you were correct:

In [ ]:
# a = [1, 2, 2, 3, 4, 1]

In [ ]:
# a[-5]

In [ ]:
# a[None]

In [ ]:
# a[2:]

In [ ]:
# a[2:-1]

In [ ]:
# a[:]

In [ ]:
# a[2.]

## Sets
Sets are a collection of 'hashable' items. 'hashable' in this context means that the type at hand implements means to compare and assert equality of two items. Sets can not contain duplicates, and cannot be accessed via an index. However, they provide functionality such as intersection, union, etc.

In [ ]:
{1, 2, 3, 4, 5, 6}

In [ ]:
type({1, 2, 3, 4, 5, 6})

Items cannot be accessed via their index.

In [ ]:
a = {1, 2, 3, 4}
a[1]

Sets can not contain duplicate items

In [ ]:
{1, 1, 2, 2, 3, 4}

In [ ]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
c = a.intersection(b)
print(c)

**Exercise** *: Create a new set from the union of a, b

In [ ]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

**Exercise** **: Remove the duplicates from the list (type of the end result should be list)

In [ ]:
a = [1,1,2,3,3,3,4,5,6]

**Exercise** **: Why does this not work?

In [ ]:
a = {1, [2, 3], 'foo', 4.567}

**Exercise** **: And then, why does this work?

In [ ]:
a = {1, (2, 3), 'foo', 4.567}

## Dictionaries
Dictionaries can be understood as lookup tables (or as HashTables for those coming from Java) containing key-value pairs. The keys have to be unique, and keys have to be 'hashable'. The values can be arbitrary types.
Dictionaries are practical if you have a collection of items that you want to access using a name or identifier rather than an index.

In [ ]:
{'a': 4, 'b': 23}

In [ ]:
type({'a': 4, 'b': 23})

In [ ]:
age_dict = {'Tom': 22, 'Jack': 25}
age_dict['Tom']

In [ ]:
d = {124: 'Hello'}
print(d[124])

Accessing unknown keys of course does not work.

In [ ]:
age_dict = {'Tom': 22, 'Jack': 25}
age_dict['Jill']

In [ ]:
age_dict = {'Tom': 22, 'Jack': 25}
'Jill' in age_dict

Keys have to be 'hashable' types

In [ ]:
d = {[1,2]: 3, None: 4, [2,3]: 5}

In [ ]:
d = {{1,2}: 3}

**Exercise** * : Create a single dictionary containing three person and their corresponding phone numbers and age. The key is to be the name of the person.

## (Tuples)
Tuples are the write-only version of a list.

In [ ]:
(1, 2, 3, 4, 5)

In [ ]:
type((1, 2, 3, 4, 5))

In [ ]:
t = (1, 2, 3, 4, 5)
t[0]

In [ ]:
t = (1, 2, 3, 4, 5)
t[0] = 6

# Type conversions and casting

# More on comparisons

Some types can be converted (casted) to other types under certain conditions.

In [ ]:
a = 3
print(type(a))
b = float(a)
print(type(b))

In [ ]:
a = (1, 2, 3, 4)
print(type(a))
b = list(a)
print(type(b))

Conversions can lead to reduction of accuracy or contained information

In [ ]:
a = 3.5
print(type(a))
b = int(a)
print(type(b))
print(b)

Some conversions are performed automatically

In [ ]:
print(type(3/10))
print(type(not 1))
print(type(not []))

However, limitations of the target type have to be kept in mind.

In [ ]:
a = [1, [3], 2]
print(type(a))
b = set(a)
print(b)

And some conversions just simply cant work

In [ ]:
a = 'Hello World'
int(a)

**Exercise** ***: What is going on here? (`"{:.50f}".format` is there to specify how many digits of the float we want to print)

In [ ]:
x = 0.1
y = 0.5
print("{:.50f}".format(x)) 
print("{:.50f}".format(y))

**Exercise** ***: What is going to be the difference between performing $x = 11x - 10x$ vs $x = 10x - 9x$?

In [ ]:
x = 0.1
print("{:.50f}".format(x))

**Exercise** ***: As $x = 11x - 10x$ for x = 0.1 is the same as $x = 11x - 1$, what is going to happen if we perform this assignment repeadetly?

In [ ]:
x = 0.1
x = x * 11 - 1
print("{:.50f}".format(x)) 

x = x * 11 - 1
print("{:.50f}".format(x)) 

x = x * 11 - 1
print("{:.50f}".format(x)) 

x = x * 11 - 1
print("{:.50f}".format(x)) 

x = x * 11 - 1
print("{:.50f}".format(x))

# More on comparisons

'==' and 'is' do not have the same meaning in Python. 'is' returns True if it is the same object instance (pointing to the same space in memory), while '==' checks if the contents are the same.

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a is b)
print(a == b)

In [ ]:
a = [1, 2, 3]
b = a
print(a is b)
print(a == b)

However, due to some internal workings of python, this is a common pitfall that may work but then suddenly break for new values.

In [ ]:
a = 5
b = 5
print(a is b)
print(a == b)

In [ ]:
a = 5e1000
b = 5e1000
print(a is b)
print(a == b)

In [ ]:
a = 5e1000
b = a
print(a is b)
print(a == b)

a += 1
b += 1
print(a is b)
print(a == b)

In [ ]:
a = 'sdf'
b = 'sdf'
print(a is b)
print(a == b)

So keep in mind that comparing values you always want '==' while 'is' is the special case where you want to assure that some object occupies the same space in memory.

# Mutable vs Immutable types

int, bool, float, str, tuple are immutable. Meaning that you cannot modify them in place, and if you change/modify the value, you get a new object.

In [ ]:
a_orig = 100
a_new = a_orig
a_new += 1

print(a_orig)
print(a_new)

list, dict, set are mutable. Meaning that they are still the same object if you modify them. They still occupy the same space in memory and all variables pointing there will have these modifications.

In [ ]:
a_orig = [100, 101]
a_new = a_orig
a_new[0] += 1
print(a_orig)
print(a_new)

In [ ]:
a_orig = [100, 101]
a_new = a_orig
a_new.append(1)
print(a_orig)
print(a_new)

However, some operations on mutable objects do create new objects.

In [ ]:
a_orig = [100, 101]
a_new = a_orig
a_new = a_new + [1]
print(a_orig)
print(a_new)