# Assignment 2

Perform the tasks detailed in the Todo's
Do not change the methods names and signature (unless explicitely asked to do so in the todo)
You are free to add new functions as long as they do not shadow existing function names.

IF ALREADY KNOW PYTHON AND THIS IS BORING TO YOU:
'\*\*\*' Version of this:
Implement all tasks in polars (https://docs.pola.rs/) instead. '\*\*\*\*': Bonus, use timeit (https://docs.python.org/3/library/timeit.html) and determine if and by how much it is faster than the pandas version.

In [ ]:

import pandas
import numpy as np

In [ ]:

# Todo: create a sine wave USING NUMPY given a start and end value and given step size:
def create_sine_wave(start, stop, step_size):
    pass

print(create_sine_wave(0, 10, 0.1))

In [ ]:

# Todo - Sort the dataframe df by height in ascending order and return the sorted dataframe
def sort_by_height(df):
    pass

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward', 'Fiona', 'George', 'Hannah', 'Ivan', 'Julia'],
    'Height': [165, 170, 175, 160, 180, 155, 168, 172, 178, 169],
    'Age': [25, 32, 40, 22, 28, 30, 35, 26, 41, 29],
    'YearsStudying': [2, 5, 4, 1, 4, 4, 7, 3, 6, 2],
    'Sex': ['Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female']
}

dframe = pandas.DataFrame(data)

print(sort_by_height(dframe))

In [ ]:

# Todo - Slice the dataframe to only contain the Male students.
def only_male_students(df):
    pass

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward', 'Fiona', 'George', 'Hannah', 'Ivan', 'Julia'],
    'Height': [165, 170, 175, 160, 180, 155, 168, 172, 178, 169],
    'Age': [25, 32, 40, 22, 28, 30, 35, 26, 41, 29],
    'YearsStudying': [2, 5, 4, 1, 4, 4, 7, 3, 6, 2],
    'Sex': ['Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female']
}

dframe = pandas.DataFrame(data)

print(only_male_students(dframe))

In [ ]:

# Todo - Slice the dataframe to only contain the Male students taller than 170cm.
def only_tall_male_students(df):
    pass


data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward', 'Fiona', 'George', 'Hannah', 'Ivan', 'Julia'],
    'Height': [165, 170, 175, 160, 180, 155, 168, 172, 178, 169],
    'Age': [25, 32, 40, 22, 28, 30, 35, 26, 41, 29],
    'YearsStudying': [2, 5, 4, 1, 4, 4, 7, 3, 6, 2],
    'Sex': ['Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female']
}

dframe = pandas.DataFrame(data)

print(only_tall_male_students(dframe))

In [ ]:

# Todo - Given that now is 2024, create a new column that contains the year when the students started when they have
#  been studying for 'YearsStudying'. Write the result in a new column named 'YearStarted' and return the new dataframe.
def year_started(df):
    pass


data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward', 'Fiona', 'George', 'Hannah', 'Ivan', 'Julia'],
    'Height': [165, 170, 175, 160, 180, 155, 168, 172, 178, 169],
    'Age': [25, 32, 40, 22, 28, 30, 35, 26, 41, 29],
    'YearsStudying': [2, 5, 4, 1, 4, 4, 7, 3, 6, 2],
    'Sex': ['Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female']
}

dframe = pandas.DataFrame(data)

print(year_started(dframe))

In [ ]:

# Todo - Group the dataframe by sex and return means of age, height, and years studying. (google pandas 'groupby')
#  returned value must be a dataframe.
def group_means(df):
    pass


data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward', 'Fiona', 'George', 'Hannah', 'Ivan', 'Julia'],
    'Height': [165, 170, 175, 160, 180, 155, 168, 172, 178, 169],
    'Age': [25, 32, 40, 22, 28, 30, 35, 26, 41, 29],
    'YearsStudying': [2, 5, 4, 1, 4, 4, 7, 3, 6, 2],
    'Sex': ['Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female']
}

dframe = pandas.DataFrame(data)

print(group_means(dframe))

In [ ]:

# Todo - Combine the two dataframes into a single one by concatenation (direction should be clear,
#  the number of columns must not change) and return the new dataframe
def concat_dataframes(df_a, df_b):
    pass


data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward', 'Fiona', 'George', 'Hannah', 'Ivan', 'Julia'],
    'Height': [165, 170, 175, 160, 180, 155, 168, 172, 178, 169],
    'Age': [25, 32, 40, 22, 28, 30, 35, 26, 41, 29],
    'YearsStudying': [2, 5, 4, 1, 4, 4, 7, 3, 6, 2],
    'Sex': ['Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female']
}

dframe_a = pandas.DataFrame(data)

data_2 = {
    'Name': ['Kevin', 'Lewis', 'Martha'],
    'Height': [195, 172, 158],
    'Age': [22, 27, 29],
    'YearsStudying': [1, 3, 4],
    'Sex': ['Male', 'Male', 'Female']
}

dframe_b = pandas.DataFrame(data_2)

print(concat_dataframes(dframe_a, dframe_b))

In [ ]:

# Todo - Fill the missing values ('NaN') in the dataframe with 0.
def fill_missing_values(df):
    pass

data_3 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward', 'Fiona', 'George', 'Hannah', 'Ivan', 'Julia'],
    'Height': [165, np.nan, 175, 160, 180, 155, 168, 172, 178, 169],
    'Age': [25, 32, 40, 22, np.nan, 30, 35, 26, 41, 29],
    'YearsStudying': [2, 5, np.nan, 1, 4, 4, 7, np.nan, 6, 2],
    'Sex': ['Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female']
}

dframe_3 = pandas.DataFrame(data_3)

print(fill_missing_values(dframe_3))

In [ ]:

# Todo - convert time to datetime and set the index to be that datetime (and do not have two time columns in the end,
#  returned dataframe should have only the time index and the 'measurement_a' and 'measurement_a' columns.
def make_datetime_index(df):
    pass

data_time = {
    'time': ['2024-10-20T01:00+00:00', '2024-10-20T05:34+00:00', '2024-10-20T07:12+00:00',
             '2024-10-20T12:20+00:00'],
    'measurement_a': [1, 3, 8, 23],
    'measurement_b': [34, 23, 12, 33]
}

dframe_time = pandas.DataFrame(data_time)

print(make_datetime_index(dframe_time))

In [ ]:

# Todo - calculate the difference between each measurement and the last measurement and put it in a new
#  column namend 'difference'. (since you cannot do this for the first one, set the value to np.nan there.)
def difference_between_measurements(df):
    pass

data_measurements = {
    'measurement_a': [1, 3, 8, 23],
    'measurement_b': [34, 23, 12, 33]
}

dframe_measurements = pandas.DataFrame(data_measurements)

print(difference_between_measurements(dframe_measurements))

## TAWES part

**Task** Load the TAWES vienna csv as a pandas dataframe.

In [ ]:
import pandas

# load the dataset from ../../data/tawes/Messstationen Tagesdaten v2 Datensatz_18730101_19921231_wien.csv

**Task** Change the index to a datetime index using the 'time' column.

In [ ]:
# see 11_pandas_tawes.ipynb or 12_data_visualization.ipynb

**Task** Resample the dataframe to yearly means.

**Task** Slice/Filter the dataframe to only contain dates between 1890 and 1990

**Task** Plot the yearly mean temperatures ('tl_mittel') on the y axis and time on the x axis.